<!DOCTYPE html>
<html ng-app="app">

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News!</title>
    <meta name="description"
          content="Fast News gives you summarized news from the most popular and relevant news articles aggregated from the web in real time just for you.">
    <meta name="keywords"
          content="fastnews, fast, news, summarize, summarizer, summarized, aggregator, india, worldnews, technology, science">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Salmaan Pehlari">
    <meta name="revisit-after" content="1 day">
    <meta name="language" content="english">

    <link rel="stylesheet" href="/stylesheets/jquery.remodal.css">

    <% if(theme === 'light'){ %>
    <link id="csstheme" href="/stylesheets/bootstraplight.min.css" rel="stylesheet">
    <% } else{ %>
    <link id="csstheme" href="/stylesheets/bootstrapdark.min.css" rel="stylesheet">
    <% } %>


    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-77295764-3', 'auto');
        ga('send', 'pageview');

    </script>



</head>

<script>category="<%=category%>";</script>
<body ng-controller="content_controller" ng-init="init()">




<!--NAVBAR-->
<nav id="nav" class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand" href="/">News!</a></div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

            <li ng-class="navbar_worldnews"><a ng-click="getData('worldnews', 1)" href="">World</a></li>
            <li ng-class="navbar_technology"><a ng-click="getData('technology', 1)" href="">Technology</a></li>
            <li ng-class="navbar_science"><a ng-click="getData('science', 1)" href="">Science</a></li>
            <li ng-class="navbar_india"><a ng-click="getData('india', 1)" href="">India</a></li>

            <form class="navbar-form navbar-left" role="search">

                <div class="form-group"><input type="text" placeholder="Search" ng-model="searchString"
                                               class="form-control" name="submit">
                </div>
                <button ng-click="search(category, searchString, 1)" type="submit" class="btn btn-default">Search</button>

            </form>
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <!--<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings<strong-->
                            <!--class="caret"></strong></a>-->
                <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#">Preferences</a></li>-->
                    <!--<li><a href="index.php?page=0">Saved Articles</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#">Help/About</a></li>-->
                <!--</ul>-->
            <!--</li>-->

            <li><a href="/about">About</a></li>

            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Theme<strong
                            class="caret"></strong></a>
                <ul class="dropdown-menu">
                    <li><a href="#" ng-click="setTheme('light')">Light</a></li>
                    <li><a href="#" ng-click="setTheme('dark')">Dark</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


<!--JUMBOTRON-->
<!--
<div id="jumbotron" class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">

            <div align="center" class="jumbotron">
                <h1 ng-bind="category">

                </h1>
                <p>
                    See what the {{category}}'s up to. If it's news worthy, it's here.
                </p>

            </div>
        </div>
    </div>
</div>
-->


<!--CONTENT, contains pagination footer also-->
<div id="mainContent" class="container" ng-show="hasContent && !loading">

    <!--<ul class="pager">-->
        <!--<div class="row clearfix">-->
            <!--<div class="col-md-6 column" align="left" ng-if="pageNo > 1">-->
                <!--<li><a href="#nav" ng-click="getData(category, pageNo-1, 'right')">Prev</a></li>-->


            <!--</div>-->
            <!--<div class="col-md-6 column" align="right" ng-if="NumRows != 0">-->
                <!--<li><a href="#nav" ng-click="getData(category, pageNo+1)">Next</a></li>-->

            <!--</div>-->
        <!--</div>-->
    <!--</ul>-->

    <ul class="pager">
        <div class="row clearfix">
            <div class="col-md-6 column" align="left" ng-if="pageNo > 1">
                <li><a href="#nav" ng-click="pagination(isSearch, category, pageNo-1, searchString, 'right')">Prev</a></li>

            </div>
            <div class="col-md-6 column" align="right" ng-if="NumRows != 0">
                <li><a href="#nav" ng-click="pagination(isSearch, category, pageNo+1, searchString)">Next</a></li>
            </div>
        </div>
    </ul>



    <div class="row clearfix" ng-repeat="row in content track by $index" ng-if="$index % 3 == 0">

        <div class="col-md-4 column" ng-repeat="item in [$index, $index + 1, $index + 2]" ng-if="content[item] != null">

            <h1 ><a ng-bind="(content[item].title | limitTo: 70) + (content[item].title .length > 70 ? '...' : '')" ng-href="{{content[item].url}}"
                   style="overflow: hidden;text-overflow: ellipsis;text-decoration:none; color:inherit;" target="_blank">
                    <!--TITLE-->
                </a></h1>
            <p align="justify" ng-bind="content[item].summary"><!--Summary--></p>
            <p><a class="btn btn-success btn-large" ng-click="clicked(item)" href="#1">Read Keypoints</a></p>


        </div>


    </div>



    <ul class="pager">
        <div class="row clearfix">
            <div class="col-md-6 column" align="left" ng-if="pageNo > 1">
                    <li><a href="#nav" ng-click="pagination(isSearch, category, pageNo-1, searchString, 'right')">Prev</a></li>

            </div>
            <div class="col-md-6 column" align="right" ng-if="NumRows != 0">
                <li><a href="#nav" ng-click="pagination(isSearch, category, pageNo+1, searchString)">Next</a></li>
            </div>
        </div>
    </ul>




</div>

<!--Loader-->
<div class="container" ng-show="loading">

    <div class="loader loader--style5" title="4">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
    <rect x="0" y="0" width="4" height="10" fill="#333">
        <animateTransform attributeType="xml"
                          attributeName="transform" type="translate"
                          values="0 0; 0 20; 0 0"
                          begin="0" dur="0.6s" repeatCount="indefinite" />
    </rect>
            <rect x="10" y="0" width="4" height="10" fill="#333">
                <animateTransform attributeType="xml"
                                  attributeName="transform" type="translate"
                                  values="0 0; 0 20; 0 0"
                                  begin="0.2s" dur="0.6s" repeatCount="indefinite" />
            </rect>
            <rect x="20" y="0" width="4" height="10" fill="#333">
                <animateTransform attributeType="xml"
                                  attributeName="transform" type="translate"
                                  values="0 0; 0 20; 0 0"
                                  begin="0.4s" dur="0.6s" repeatCount="indefinite" />
            </rect>
  </svg>
    </div>


</div>

<!--No Content-->
<div class="container" ng-show="!hasContent && !loading">

    <h1 style="text-align: center">Whoops, nothing to see here!</h1>

</div>


<!--MODAL-->
<div class="remodal-wrapper">
    <div class="remodal" data-remodal-id="1">

        <a ng-href="{{modalUrl}}" target="_blank" style="text-decoration:none; color:inherit">
            <h1 ng-bind="modalTitle"></h1>
        </a>
        <a href="http://{{modalDomain}}" target="_blank" style="text-decoration:none; color:inherit">
            <h5 ng-bind="modalDomain"></h5>
            <!--<h6 ng-bind="modalScore"></h6>-->
        </a>
        <br>

        <div align="left">
            <ul>
                <li ng-repeat="point in modalKeypoints">
                    <p align="justify" ng-bind="point"></p>
                </li>
            </ul>

        </div>
        <br><br>
        <div class="row clearfix">
            <div class="col-md-6 column" align="left"><a target="_blank"
                                                         ng-href="{{modalPermalink}}">View {{modalNoComments}}
                    Reddit Comments</a></div>

        </div>
        <a href="#" class="remodal-close"></a></div>
</div>

<!--Footer-->
<div class="container">
<footer style="margin-top:5%;">
    <div class="row clearfix">

        <div class="col-md-8" align="left">
            App by <a href="http://salmaan.me">Salmaan Pehlari</a> is a News Aggregator
            and Summarizer made just for you.

        </div>
        <div class="col-md-4" align="right">
            Contact him at salmaanpehlari[at]gmail[dot]com.
            <p><a href="/about#changelog" target="_blank">Changelog</a></p>
            <br><br>
        </div>

    </div>
</footer>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.14/angular-filter.min.js"></script>
<script type="text/javascript" src="/javascripts/angular_public.js"></script>
<script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.remodal.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/scripts.js"></script>
<script type="text/javascript">
    function lightmode() {
        document.getElementById('csstheme').href = "stylesheets/bootstraplight.min.css";
    }
    function darkmode() {
        document.getElementById('csstheme').href = "stylesheets/bootstrapdark.min.css";
    }
</script>



</body>
</html>
